<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Website</title>
    <link rel="stylesheet" href="../static/reset.css" />
    <link rel="stylesheet" href="../static/style.css" />
  </head>
  <body>
    <header>
      <h1>My Website</h1>
    </header>

    <div class="container auth">
      <div class="page-title">Sign-in Fails</div>
      {% if msg %}
      <h2 class="page-text">{{msg}}</h2>
      {% else %}
      <h2 class="page-text">Undefined Error</h2>
      {% endif %}
    </div>
  </body>
</html>
