<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Website</title>
    <link rel="stylesheet" href="../static/reset.css" />
    <link rel="stylesheet" href="../static/style.css" />
    <script defer src="../static/main.js"></script>
  </head>
  <body>
    <header>
      <h1><a href="/" class="d-block">My Website</a></h1>
      <nav></nav>
    </header>

    <div class="welcome page-title">Welcome</div>
    <div class="container box mb-80">
      <form
        action="/signin"
        method="post"
        name="signIn"
        onsubmit="return checkAgreePolicy(e)"
      >
        <h2 class="text-center">Sign In</h2>
        <label for="username">User Name</label>
        <input type="text" name="username" />
        <!-- <input type="text" name="username" required /> -->
        <label for="password">Password</label>
        <input type="password" name="password" />
        <label class="policy-agree">
          <input type="checkbox" name="policy" />
          Agree Policy
        </label>
        <input class="button" type="submit" value="Sign In" />
      </form>
    </div>

    <div class="container box">
      <!-- <form name="square" onsubmit="return checkPositiveInt()"> -->
      <h2 class="text-center">Calculation of Squares of Positive Integer</h2>
      <label for="positiveInt">Positive Integer</label>
      <input id="positiveInt" type="text" name="positiveInt" />
      <!-- <input type="text" name="positiveInt" required /> -->

      <input
        class="button"
        type="submit"
        value="Calculate"
        onclick="checkPositiveInt()"
      />
      <!-- </form> -->
    </div>
  </body>
  <script>
    const graphURL = {{ url_for('main.graph') }};
    console.log(graphURL)
  </script>
</html>
